<!DOCTYPE html>
<html>

<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <!-- provided under Open Font License https://fonts.google.com/specimen/Montserrat?selection.family=Montserrat -->
</head>

<body>
  {{{ body }}}
</body>

</html>
