body {
    background-color: #b1e7e9;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
}

.tracker {
    position: fixed;
    z-index: 1;
    top: 0px;
    right: 0px;
    width: 303px;
    height: 120px;
    padding: 5px;
    background-color: #f6b835;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.7px;
    color: #000000;
}

.tracker-meter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}


.image-container {
    margin: 0px 5px;
}

.tracker-name {
    text-align: center;
}

.tracker-name p {
    margin: 5px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.7px;
    color: #000000;
}

.banner {
    position: relative;
    top: 130px;
    text-align: center;
}

h1 {
    margin: 0px 0px 60px 0px;
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 6.1px;
    color: #ffffff;
    text-shadow: 3px 5px #e44480;

}

.body-container {
    position: relative;
    width: 100%;
    top: 130px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-align: left;
    color: #ffffff;
}

h2 {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
}

label, input#name {
    font-size: 14px;
    letter-spacing: 0.4px;
    text-align: left;
    color: #0b3553;
}

label, input, select {
    cursor: pointer;
}

.menu {
    /* intended svg dimensions are 552px 741px 
  * 552 - (25 + 100) = 427 
  * 741 - (100 + 25) = 616
  */
    width: 427px;
    height: 616px;
    /* padding: top | right | bottom | left */
    padding: 100px 25px 25px 100px;
    background: url(../images/shape_1.svg);
    background-size: 552px 741px;
    display: flex;
    flex-direction: column;
}

.form-container {
    margin: 5px 10px 0px 10px;
    display: flex;
    flex-direction: column;
}

.form-row {}

.name-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#name {
    height: 38px;
    width: 200px;
    border: solid 1px #c32362;
}

.name-col-1 {
    width: 60%;
}

.name-col-2 {
    width: 40%;
}

.input-col {
    float: left;
    width: 50%;
    text-align: left;
}

.select-row {
    display: flex;
    flex-direction: row;
}

.select-col {
    width: 50%;
}

.styled-select {
    width: 160px;
    overflow: hidden;
    background: url(../images/dropdown_arrows.svg) no-repeat right white;
}

.styled-select select {
    background: transparent;
    -webkit-appearance: none;
    padding: 5px;
}

select {
    width: 160px;
    height: 40px;
    border: solid 1px #c32362;
    border-radius: 2px;
    font-size: 14px;
}

.place-order-div {
    margin: 25px auto 0px auto;
}

.button {
    width: 200px;
    height: 40px;
    margin: 0 auto;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #e44480;
    border: solid 1px #c32362;
    box-shadow: -3px 0px #c32362;
}

.order {
    /* intended svg dimensions are 430px 266px
  * 430 - (70 + 30) = 330 
  * 266 - (50 + 50) = 166
  */
    width: 330px;
    height: 166px;
    padding: 70px 50px 30px 50px;
    background: url(../images/shape_2.svg);
    background-size: 430px 266px;
}

span {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: #0b3653;
    text-transform: none;
}

.top {
    position: fixed;
    width: 100%;
    top: 0;
    height: 150px;
    background: grey;
    color: white
}
