body {
    background-color: #59CD90;
    color: #3FA7D6;
    font-family: Arial;
    padding-bottom: 20%;
}

form {
    line-height: 25px;
}

h1 {
    font-family: Spicy Rice, Arial;
    font-size: 4em;
    overflow: break;
}

.overlay {
    width: 80%;
    min-width: 30%;
    margin: 3% auto;
    display: block;
    padding: 2%;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
    text-align: center;
    overflow: auto;
}

@media only screen and (max-width: 440px) {
    h1 {
        font-size: 3.5em;
    }
}
